# dependencies
/node_modules

# build
/.next/
/out/
/build

# debug
*.log
/.pnpm-debug.log*

# secrets
*.pem
.env
.env.*
.env*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
/coverage
