# dependencies
/node_modules
/.pnpm-debug.log*

# build
/.next/
/out/
/build

# debug
*.log

# secrets
*.pem
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
/coverage
